<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Это каршеринг.</title>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=e36bea28-eac7-4c8c-8cec-51adc2e8c681&lang=ru_RU" type="text/javascript"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">
<!--    <link rel="stylesheet" href="/css/styles.css">-->



    <link rel="icon" href="/fav.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="title" >Это каршеринг.<br>Welcome</h1>
<h1 class="hello">Привет, <span th:text="${username}"></span>!</h1>
<br>

<a href="/trips">Мои поездки</a>


<h1>Карта</h1>

<div class="wrapper">
    <div class="map" id="map"></div>
    <div class="card" id="carInfo">Нажмите на иконку машины,<br>чтобы ее забронировать</div>
</div>


<script>
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map('map', {
            center: [55.670020, 37.466500],
            zoom: 15
        });

        function updateCarInfo(carData) {
            var carInfoElement = document.getElementById('carInfo');
            carInfoElement.innerHTML = '<h2>' + carData.hintContent + '</h2>' +
                '<p>' + carData.balloonContent + '</p>' +
                '<form action="/booking?carName=' + carData.hintContent + '&carPrice=' + carData.balloonContent + '" method="post">\n' +
                '    <button class="rent" type="submit" style="width: 200px;\n' +
                '    height: 60px;\n' +
                '    border: none;\n' +
                '    outline: none;\n' +
                '    background: #D48166;\n' +
                '    color: #fff;\n' +
                '    font-size: 22px;\n' +
                '    border-radius: 40px;\n' +
                '    text-align: center;\n' +
                '    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);\n' +
                '    position: relative;\n' +
                '    overflow: hidden;\n' +
                '    cursor: pointer;">Взять в аренду</button>\n' +
                '</form>';
        }


        // Добавление метки на карту
        var car1 = new ymaps.Placemark([55.670907, 37.477061], {
            hintContent: 'VW Polo IV',
            balloonContent: '20rub/min'
        },
            {
                iconLayout: 'default#imageWithContent',
                iconImageHref: 'polo.png',
                iconImageSize: [34, 33],
                iconImageOffset: [-24, -24], // Смещение левого верхнего угла иконки относительно точки привязки
                iconContentOffset: [15, 15] // Смещение слоя с содержимым относительно слоя с картинкой.
            });

        var car2 = new ymaps.Placemark([55.669460, 37.471205], {
                hintContent: 'KIA Rio X',
                balloonContent: '19rub/min'
            },
            {
                iconLayout: 'default#imageWithContent',
                iconImageHref: 'kia.png',
                iconImageSize: [35, 32],
                iconImageOffset: [-24, -24],
                iconContentOffset: [15, 15]
            });

        var car3 = new ymaps.Placemark([55.669041, 37.463021], {
                hintContent: 'Toyota Camry',
                balloonContent: '25rub/min'
            },
            {
                iconLayout: 'default#imageWithContent',
                iconImageHref: 'camry.png',
                iconImageSize: [32, 32],
                iconImageOffset: [-24, -24],
                iconContentOffset: [15, 15]
            });

        var car4 = new ymaps.Placemark([55.669072, 37.454048], {
                hintContent: 'VW Polo',
                balloonContent: '18rub/min'
            },
            {
                iconLayout: 'default#imageWithContent',
                iconImageHref: 'polo.png',
                iconImageSize: [34, 33],
                iconImageOffset: [-24, -24],
                iconContentOffset: [15, 15]
            });

        var car5 = new ymaps.Placemark([55.671842, 37.451505], {
                hintContent: 'KIA Rio X',
                balloonContent: '20rub/min'
            },
            {
                iconLayout: 'default#imageWithContent',
                iconImageHref: 'kia.png',
                iconImageSize: [35, 32],
                iconImageOffset: [-24, -24],
                iconContentOffset: [15, 15]
            });


        car1.events.add('click', function (e) {
            updateCarInfo(car1.properties.getAll());
        });

        car2.events.add('click', function (e) {
            updateCarInfo(car2.properties.getAll());
        });

        car3.events.add('click', function (e) {
            updateCarInfo(car3.properties.getAll());
        });

        car4.events.add('click', function (e) {
            updateCarInfo(car4.properties.getAll());
        });

        car5.events.add('click', function (e) {
            updateCarInfo(car5.properties.getAll());
        });

        myMap.geoObjects
            .add(car1)
            .add(car2)
            .add(car3)
            .add(car4)
            .add(car5);
    }
</script>

</body>
</html>